.cmb-row.resultpress_cmb_half_object,
.cmb-row.resultpress_cmb_half_subject,
.cmb-row.resultpress_cmb_half_subject_value
{
    display: inline-block;
    width: 50%;
}

.cmb-row.resultpress_cmb_half_object .cmb-th,
.cmb-row.resultpress_cmb_half_object .cmb-td,
.cmb-row.resultpress_cmb_half_subject .cmb-th,
.cmb-row.resultpress_cmb_half_subject .cmb-td,
.cmb-row.resultpress_cmb_half_subject_value .cmb-th,
.cmb-row.resultpress_cmb_half_subject_value .cmb-td
{
    float: none !important;
    width: auto !important;
}

.cmb-row.resultpress_cmb_half_subject label, 
.cmb-row.resultpress_cmb_half_subject_value label {display: none}


.cmb-row.resultpress_cmb_half_subject, .cmb-row.resultpress_cmb_half_subject_value {
    border: medium none !important;
    margin-bottom: 10px;
    padding: 0 !important;
}
.cmb-row.resultpress_cmb_half_subject label, .cmb-row.resultpress_cmb_half_subject_value label,
.cmb-row.resultpress_cmb_half_subject .cmb2-metabox-description, .cmb-row.resultpress_cmb_half_subject_value .cmb2-metabox-description {
    display: none;
}
.cmb-row.resultpress_cmb_half_subject.show_subject_label label, .cmb-row.resultpress_cmb_half_subject_value.show_subject_label label {
    display: block;
}
.resultpress_cmb_half_object {
  padding: 0 0 12px !important;
}